ul {
	border: 1px solid #dbdbdb;
	padding-top: 28px;
	padding-bottom: 28px;
	border-radius: 4px;
	list-style: none;
	li{
		font-size: 16px;
		line-height: 32px;
		vertical-align: middle;
		span{
			font-size: 22px;
			vertical-align: middle;
		}
	}
	li.no-bullet {
		list-style: none;
		margin-top: 5px;
		font-style: italic;
	}
}