@import 'reset';
@import './blocks/greet';
body {
	font-family: Calibri, "Helvetica Neue", Helvetica, sans-serif;
	background: #f1f1f1;
}

h4 {
	margin-top: 28px;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

code {
	display: block;
	background-color: rgb(230, 230, 230);
	border-radius: 3px;
	padding: 21px;
	margin: 14px 0;
}